extends layout.pug

block content 
	nav.grid-container.portfolio-breadcrumb
		a(href='/') ← Back
	article.grid-container.portfolio-intro.portfolio-project
		.grid-x
			.cell.small-6.medium-9.large-9

				h1 #{err.status} #{err.message}

				p This is not the page you are looking for. 
				img(src="https://media.giphy.com/media/l2JJKs3I69qfaQleE/giphy.gif")

				h2 Error stack
				p= err.stack